<div class="container">

	<h1 class="text-center mb-5" data-aos="fade-left">{{ client.fio }}</h1>

	<div class="row mb-3">
		<div class="col-12 col-lg mb-2" data-aos="fade-left">
			<a appNavigate [navigateURL]="'clients'" class="btn btn-light w-100">Назад</a>
		</div>
		<div *ngIf="role === 'MANAGER'" class="col-12 col-lg mb-2" data-aos="fade-left">
			<a appNavigate [navigateURL]="'client_update'" [queryParams]="{id:client.id}" class="btn btn-success w-100">Обновить</a>
		</div>
		<div *ngIf="role === 'MANAGER'" class="col-12 col-lg mb-2" data-aos="fade-left">
			<a (click)="delete()" class="btn btn-danger w-100">Удалить</a>
		</div>
	</div>

	<div *ngIf="role === 'MANAGER'" class="row mb-3">
		<div class="col-12 col-lg-6 mb-2" data-aos="fade-left">
			<p class="fs-4 m-0">Паспорт</p>
			<input type="text" [(ngModel)]="client.passport" (change)="updatePassport()" class="form-control"
				   minlength="1" maxlength="255">
		</div>
		<div class="col-12 col-lg-6 mb-2" data-aos="fade-left">
			<p class="fs-4 m-0">Возрастная категория</p>
			<select [(ngModel)]="client.category" (change)="updateCategory()" class="form-select">
				<option *ngIf="client.category === ''" value="" disabled>Выберите</option>
				<option *ngFor="let i of clientCategories | keyvalue" [value]="i.key" [label]="i.value"></option>
			</select>
		</div>
		<div class="col-12 col-lg-6 mb-2" data-aos="fade-left">
			<p class="fs-4 m-0">Пол</p>
			<select [(ngModel)]="client.gender" (change)="updateGender()" class="form-select">
				<option *ngIf="client.gender === ''" value="" disabled>Выберите</option>
				<option *ngFor="let i of clientGenders | keyvalue" [value]="i.key" [label]="i.value"></option>
			</select>
		</div>
		<div class="col-12 col-lg-6 mb-2" data-aos="fade-left">
			<p class="fs-4 m-0">Предпочитаемый тип тура</p>
			<select [(ngModel)]="client.tourType" (change)="updateTourType()" class="form-select">
				<option *ngIf="client.tourType === ''" value="" disabled>Выберите</option>
				<option *ngFor="let i of tourTypes | keyvalue" [value]="i.key" [label]="i.value"></option>
			</select>
		</div>
	</div>

	<div class="row mb-4 fs-5">
		<div class="col-12 col-lg-4 mb-2" data-aos="fade-left">
			<p class="m-0">
				<span>Статус: </span>
				<span *ngIf="client.orderings.length === 0">Контакт</span>
				<span *ngIf="client.orderings.length === 1">Клиент</span>
				<span *ngIf="client.orderings.length > 1">Постоянный клиент</span>
			</p>
		</div>
		<div class="col-12 col-lg-4 mb-2" data-aos="fade-left">
			<p class="m-0">{{ 'Менеджер: ' + client.managerUsername }}</p>
		</div>
		<div class="col-12 col-lg-4 mb-2" data-aos="fade-left">
			<p class="m-0">{{ 'Телефон: ' + client.tel }}</p>
		</div>
		<div *ngIf="client.passport !== ''" class="col-12 col-lg-4 mb-2" data-aos="fade-left">
			<p class="m-0">{{ 'Паспорт: ' + client.passport }}</p>
		</div>
		<div *ngIf="client.categoryName !== ''" class="col-12 col-lg-4 mb-2" data-aos="fade-left">
			<p class="m-0">{{ 'Возрастная категория: ' + client.categoryName }}</p>
		</div>
		<div *ngIf="client.genderName !== ''" class="col-12 col-lg-4 mb-2" data-aos="fade-left">
			<p class="m-0">{{ 'Пол: ' + client.genderName }}</p>
		</div>
		<div *ngIf="client.tourTypeName !== ''" class="col-12 col-lg-4 mb-2" data-aos="fade-left">
			<p class="m-0">{{ 'Предпочитаемый тип тура: ' + client.tourTypeName }}</p>
		</div>
		<div class="col-12 mb-2" data-aos="fade-left">
			<p class="m-0">{{ client.description }}</p>
		</div>
	</div>

	<h2 class="text-center mb-3" data-aos="fade-left">Туры</h2>

	<form *ngIf="role === 'MANAGER'" [formGroup]="orderingFormGroup" (ngSubmit)="ordering()" class="row mb-3">
		<div class="col-12 col-lg mb-2" data-aos="fade-left">
			<select (change)="changeTourId($event)" class="form-select">
				<option disabled selected>Выберите тур</option>
				@for (i of tours; track i.id) {
					<option [value]="i.id" [label]="i.name"></option>
				}
			</select>
		</div>
		<div class="col-12 col-lg mb-2" data-aos="fade-left">
			<input type="number" formControlName="price" class="form-control" min="0.01" step="0.01" max="1000000"
				   placeholder="Стоимость">
		</div>
		<div class="col-12 col-lg-auto mb-2" data-aos="fade-left">
			<input type="date" formControlName="date" class="form-control">
		</div>
		<div class="col-12 col-lg-auto mb-2" data-aos="fade-left">
			<button type="submit" class="btn btn-primary w-100" [disabled]="!checkSubmitOrdering()">Добавить</button>
		</div>
	</form>

	<div class="row">
		@for (i of client.orderings; track i.id) {
			<div class="col-12 col-lg-4 mb-4" data-aos="fade-left">
				<div class="card shadow rounded-5 border-primary">
					<div class="card-header p-0 rounded-5 shadow border-primary">
						<a appNavigate [navigateURL]="'tour'" [queryParams]="{id:i.tourId}" role="button">
							<img [src]="i.tourImg" alt="img" class="object-fit-cover w-100 rounded-5" height="250">
						</a>
					</div>
					<div class="card-body">
						<p class="fs-4 mb-2 text-center">{{ i.tourName }}</p>
						<p class="fs-5 m-0">{{ 'Менеджер: ' + i.managerUsername }}</p>
						<p class="fs-5 m-0">{{ 'Дата: ' + i.date }}</p>
						<p class="fs-5 m-0">{{ 'Стоимость: ' + i.price }}</p>
						<a *ngIf="role === 'MANAGER'" (click)="orderingDelete(i.id)" class="btn btn-warning w-100 mt-2">Отменить</a>
					</div>
				</div>
			</div>
		}
	</div>

</div>

