<div class="container mb-5">
	<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-aos="fade-left">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
					aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
					aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
					aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner rounded shadow border border-primary border-2">
			<div class="carousel-item active">
				<img src="/img/carousel/2.jpg" class="d-block w-100" alt="img">
				<div class="carousel-caption d-none d-md-block p-2" style="background-color: rgba(0,0,0,0.5)">
					<h3 class="text-white">
						Откройте для себя волшебство Венеции
					</h3>
					<h4 class="text-white">
						Погрузитесь в романтику каналов, насладитесь прогулкой на гондоле и откройте тайны одного из
						самых красивых городов мира.
					</h4>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/carousel/3.jpg" class="d-block w-100" alt="img">
				<div class="carousel-caption d-none d-md-block p-2" style="background-color: rgba(0,0,0,0.5)">
					<h3 class="text-white">
						Очарование прибрежных деревень
					</h3>
					<h4 class="text-white">
						Погрузитесь в атмосферу уединения и красоты на утёсах Атлантики. Исследуйте старинные улочки,
						наслаждайтесь видами и дышите свежим морским бризом.
					</h4>
				</div>
			</div>
			<div class="carousel-item">
				<img src="/img/carousel/1.jpg" class="d-block w-100" alt="img">
				<div class="carousel-caption d-none d-md-block p-2" style="background-color: rgba(0,0,0,0.5)">
					<h3 class="text-white">
						Сказочная Прага: Город тысячи башен
					</h3>
					<h4 class="text-white">
						Пройдитесь по историческим мостам, окунитесь в средневековую атмосферу и насладитесь очарованием
						старинных улочек столицы Чехии.
					</h4>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>

<div class="container my-5">

	<h2 class="text-center mb-5" data-aos="fade-left">Наши услуги</h2>
	<h4 class="text-center mb-5" data-aos="fade-left">
		Путешествия, созданные для вас — комфорт, уникальные маршруты и незабываемые впечатления.
	</h4>

	<div class="row">
		<div class="col-12 col-lg-4 mb-4" data-aos="fade-left">
			<div class="card card-body p-0 border-0 h-100">
				<img src="/img/about1.jpg" alt="img" class="object-fit-cover w-100 rounded-5"
					 style="min-height: 100%;max-height: 300px">
			</div>
		</div>
		<div class="col-12 col-lg d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col-12 col-lg-6 mb-4" data-aos="fade-left">
					<div class="card card-body rounded-5 border-primary h-100">
						<p class="fs-4 mb-2 text-primary">
							Индивидуальные туры
						</p>
						<p class="fs-5 m-0" align="justify">
							Создайте своё идеальное путешествие! Мы разработаем для вас уникальный маршрут с учётом всех
							пожеланий: от экскурсий до отдыха на пляже или активного приключения.
						</p>
					</div>
				</div>
				<div class="col-12 col-lg-6 mb-4" data-aos="fade-left">
					<div class="card card-body rounded-5 border-primary h-100">
						<p class="fs-4 mb-2 text-primary">
							Групповые экскурсии
						</p>
						<p class="fs-5 m-0" align="justify">
							Присоединяйтесь к увлекательным турам в компании опытных гидов и единомышленников. Откройте
							для себя популярные достопримечательности и скрытые жемчужины по доступным ценам.
						</p>
					</div>
				</div>
				<div class="col-12 col-lg-6 mb-4" data-aos="fade-left">
					<div class="card card-body rounded-5 border-primary h-100">
						<p class="fs-4 mb-2 text-primary">
							Бронирование отелей и транспорта
						</p>
						<p class="fs-5 m-0" align="justify">
							Забудьте о заботах! Мы подберём для вас лучшие отели, организуем трансферы и аренду
							автомобилей, чтобы ваше путешествие прошло комфортно и гладко.
						</p>
					</div>
				</div>
				<div class="col-12 col-lg-6 mb-4" data-aos="fade-left">
					<div class="card card-body rounded-5 border-primary h-100">
						<p class="fs-4 mb-2 text-primary">
							Тематические туры
						</p>
						<p class="fs-5 m-0" align="justify">
							От гастрономических туров до винных дегустаций, от приключений на природе до культурных
							событий — выберите тематику, которая вам по душе, и отправляйтесь за новыми впечатлениями!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid my-5 py-5" style="background: url(/img/bg.jpg) no-repeat fixed;background-size: cover;">

	<div class="container">

		<div class="row">
			<div class="col-12 col-lg-3 my-3" data-aos="fade-left">
				<div class="card card-body shadow border-primary text-white h-100"
					 style="background-color: rgba(0,0,0,0.75)">
					<p class="fs-4 mb-2 text-center">9,313</p>
					<p class="fs-5 m-0 text-center">Количество путешествий</p>
				</div>
			</div>
			<div class="col-12 col-lg-3 my-3" data-aos="fade-left">
				<div class="card card-body shadow border-primary text-white h-100"
					 style="background-color: rgba(0,0,0,0.75)">
					<p class="fs-4 mb-2 text-center">8,492</p>
					<p class="fs-5 m-0 text-center">Количество клиентов</p>
				</div>
			</div>
			<div class="col-12 col-lg-3 my-3" data-aos="fade-left">
				<div class="card card-body shadow border-primary text-white h-100"
					 style="background-color: rgba(0,0,0,0.75)">
					<p class="fs-4 mb-2 text-center">100</p>
					<p class="fs-5 m-0 text-center">Сотрудников в команде</p>
				</div>
			</div>
			<div class="col-12 col-lg-3 my-3" data-aos="fade-left">
				<div class="card card-body shadow border-primary text-white h-100"
					 style="background-color: rgba(0,0,0,0.75)">
					<p class="fs-4 mb-2 text-center">120</p>
					<p class="fs-5 m-0 text-center">Посещённых стран</p>
				</div>
			</div>
		</div>

	</div>

</div>

<div class="container my-5">

	<h2 class="text-center mb-5" data-aos="fade-left">Популярные туры</h2>
	<h4 class="text-center mb-5" data-aos="fade-left">
		Лучшие маршруты и направления, которые выбирают наши путешественники по всему миру.
	</h4>

	<div class="row">
		<div class="col-12 col-lg-4 my-4" data-aos="fade-left">
			<div class="rounded-5 shadow d-flex align-items-end justify-content-center"
				 style="background: url(/img/popular/1.jpg) no-repeat fixed;background-size: cover;height: 600px">
				<div class="rounded-5 text-white w-100" style="background-color: rgba(0,0,0,0.5)">
					<p class="fs-4 my-2 text-center">
						Город будущего — Сидней
					</p>
					<p class="fs-5 my-2 text-center">
						Откройте для себя современные небоскрёбы, живописные гавани и знаменитый Оперный театр.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4 my-4" data-aos="fade-left">
			<div class="rounded-5 shadow d-flex align-items-end justify-content-center"
				 style="background: url(/img/popular/2.jpg) no-repeat fixed;background-size: cover;height: 600px">
				<div class="rounded-5 text-white w-100" style="background-color: rgba(0,0,0,0.5)">
					<p class="fs-4 my-2 text-center">
						Лондон — сердце Великобритании
					</p>
					<p class="fs-5 my-2 text-center">
						Прогуляйтесь по историческим улицам, посетите Биг-Бен и насладитесь уникальной атмосферой
						Туманного Альбиона.
					</p>
				</div>
			</div>
		</div>
		<div class="col-12 col-lg-4 my-4" data-aos="fade-left">
			<div class="rounded-5 shadow d-flex align-items-end justify-content-center"
				 style="background: url(/img/popular/3.jpg) no-repeat fixed;background-size: cover;height: 600px">
				<div class="rounded-5 text-white w-100" style="background-color: rgba(0,0,0,0.5)">
					<p class="fs-4 my-2 text-center">
						Острова мечты — Галапагосы
					</p>
					<p class="fs-5 my-2 text-center">
						Погрузитесь в дикий мир природы, чистые пляжи и кристально чистые воды с богатым подводным
						миром.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container my-5">

	<h2 class="text-center mb-5" data-aos="fade-left">Отзывы наших путешественников</h2>
	<h4 class="text-center mb-5" data-aos="fade-left">
		Ваши впечатления — наше главное вдохновение. Узнайте, что говорят о своих приключениях те, кто уже отправился в
		тур мечты!
	</h4>

	<div class="row">
		<div class="col-12 col-lg-4 my-3" data-aos="fade-left">
			<div class="card card-body border-primary rounded-5 border-3 shadow">
				<div class="d-flex justify-content-center mb-3">
					<img src="/img/testimonials/1.jpg" alt="img"
						 class="shadow rounded-circle w-50 border border-primary border-2">
				</div>
				<p class="fs-5 mb-2 text-center">
					Анастасия Смирнова
				</p>
				<p class="fs-6 m-0" align="justify">
					"Невероятные впечатления! Побывала в Лондоне благодаря этому туру — все организовано идеально.
					Потрясающая архитектура, история на каждом шагу и удивительные эмоции. Спасибо за незабываемый
					отдых!"
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 my-3" data-aos="fade-left">
			<div class="card card-body border-primary rounded-5 border-3 shadow">
				<div class="d-flex justify-content-center mb-3">
					<img src="/img/testimonials/2.jpg" alt="img"
						 class="shadow rounded-circle w-50 border border-primary border-2">
				</div>
				<p class="fs-5 mb-2 text-center">
					Дмитрий Кузнецов
				</p>
				<p class="fs-6 m-0" align="justify">
					"Поездка в Сидней превзошла все ожидания! Город удивил своей современностью и потрясающими видами.
					Организация тура была на высшем уровне, ни одного лишнего переживания. Рекомендую всем!"
				</p>
			</div>
		</div>
		<div class="col-12 col-lg-4 my-3" data-aos="fade-left">
			<div class="card card-body border-primary rounded-5 border-3 shadow">
				<div class="d-flex justify-content-center mb-3">
					<img src="/img/testimonials/3.jpg" alt="img"
						 class="shadow rounded-circle w-50 border border-primary border-2">
				</div>
				<p class="fs-5 mb-2 text-center">
					Виктория Иванова
				</p>
				<p class="fs-6 m-0" align="justify">
					"Отдых на Галапагосах — это просто сказка! Природа удивительная, как будто попадаешь в другой мир.
					Спасибо команде за профессионализм и заботу о каждом участнике тура. Вернусь ещё раз!"
				</p>
			</div>
		</div>
	</div>

</div>

<div class="container">

	<h2 class="text-center mb-5" data-aos="fade-left">Наши контакты</h2>
	<h4 class="text-center mb-5" data-aos="fade-left">
		Мы всегда на связи! Найдите нас на карте или свяжитесь с нами любым удобным способом.
	</h4>

	<div class="row">
		<div class="col-12 col-lg-8 my-3" data-aos="fade-left">
			<iframe
				src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75252.68666033309!2d27.510968627109335!3d53.88471296974388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQuiwg0JzQuNC90YHQutCw0Y8g0L7QsdC70LDRgdGC0Yw!5e0!3m2!1sru!2sby!4v1724993567955!5m2!1sru!2sby"
				allowfullscreen frameborder="0" loading="lazy" height="500"
				class="w-100 rounded-5 shadow border border-primary border-3"></iframe>
		</div>
		<div class="col-12 col-lg my-3 d-flex align-items-center" data-aos="fade-left">
			<div>
				<p class="fs-4 m-0">
					Адрес: г. Минск, Беларусь
				</p>
				<p class="fs-4 m-0">
					Телефон: +375 (99) 999-99-99
				</p>
				<p class="fs-4 m-0">
					{{'Email: info@sphere.com'}}
				</p>
				<p class="fs-4 m-0">
					Время работы: Пн-Пт: 9:00 - 18:00
				</p>
			</div>
		</div>
	</div>

</div>
